.title {
  h1 {
    color: var(--primary);
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: normal;
  }
  h2 {
    text-align: center;
    margin-top: 60px;
    font-size: 2.5rem;
  }
  p {
    text-align: center;
  }
}
